.spinner{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 8px solid red;
  border-top-color: yellow;
  animation: spinner 1s infinite linear;
}


@keyframes spinner{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}